/* .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    width: 30%; /* Ajusta el ancho de cada tarjeta según tus necesidades */
    /* margin: 10px; /* Ajusta el margen entre las tarjetas según tus necesidades */
  /* } */ 